# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/report-biz/target/
/report-web/target/
/report-api/target/
/report-web/src/main/resources/application-dev.yml